{% extends 'layout.html' %}
{% block body %}
<h1>{{ verb }}</h1>
<form action="{{ url_for('conjugation_result', temp = temp, verb = verb) }} " method="POST">
  <fieldset>
          {% for pronoun in pronouns %}
      <div class="input-prepend input-append">
            <span class="add-on">{{ pronoun }}</span>
            <input class="input-medium" placeholder="" name="conjugation-{{ loop.index }}" type="text">
      </div>
      <br>
      {% endfor %}

    <button type="submit" class="btn">Submit</button>
  </fieldset>
  <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
</form>
{% endblock %}
